.establishment-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
    margin: 32px auto;
    height: 100vh;
}

.establishment-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.establishment-container header a {
    display: flex;
    align-items: center;
    background: #4e80c7;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    text-decoration: none;
    transition: filter 0.2s;
}

.establishment-container header a:hover {
    filter: opacity(0.8);
}

.establishment-container table {
    width: 100%;
    height: fit-content;
    border-spacing: 0;
}

.establishment-container table th,
.establishment-container table td {
    padding: 4px 8px;
    border-bottom: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

.establishment-container table td:first-child {
    text-align: left;
    width: 300px;
}

.establishment-container table td button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    padding: 2px;
    transition: filter 0.2s;
}

.establishment-container table td button:hover {
    filter: brightness(80%);
}